entrypoint = "main.py"
modules = ["python-3.11"]

[nix]
channel = "stable-24_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3", "main.py"]
deploymentTarget = "cloudrun"

[workflows]
runButton = "Test Telegram"

[[workflows.workflow]]
name = "Run"
author = 41446915
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"

[[workflows.workflow]]
name = "Run Omega"
author = 41446915
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python omega_executor/omega_deus_launcher.py"

[[workflows.workflow]]
name = "Test Telegram"
author = 41446915
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python omega_executor/testar_telegram.py"
